.leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: none;
}

.mapPopup .leaflet-popup-content {
    color: #458E42;
    font-size: 28px;
    font-weight: bold;
    margin: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mapPopup .leaflet-popup-content a {
    width: 40px;
    height: 40px;
    background: #458E42;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms ease;
}

.mapPopup .leaflet-popup-content a:hover {
    cursor: pointer;
    filter: brightness(.8);
}

.mapPopup .leaflet-popup-tip-container {
    display: none;
    position: relative;
}
