.leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: none;
}

.mapPopup .leaflet-popup-content {
    color: #458E42;
    font-size: 28px;
    font-weight: bold;
    margin: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.mapPopup .leaflet-popup-content img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.mapPopup .leaflet-popup-content a {
    background: #458E42;
    margin: 0 10px;
    border-radius: 50px;
    color: white;
    font-weight: normal;
    transition: .3s;
}

/* .mapPopup .leaflet-popup-content a {
    width: 40px;
    min-width: 40px;
    height: 40px;
    background: #458E42;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms ease;
    margin-left: 10px;
} */

.restaurante .leaflet-popup-content {
    color: #529499;
}

.restaurante .leaflet-popup-content a{
    background: #529499;
}

.bar .leaflet-popup-content {
    color: #d68b23;
}

.bar .leaflet-popup-content a{
    background: #d68b23;
}
.turismo .leaflet-popup-content {
    color: rgb(187, 0, 0);
}

.turismo .leaflet-popup-content a{
    background: rgb(187, 0, 0);
}

.mapPopup .leaflet-popup-content a:hover {
    cursor: pointer;
    filter: brightness(.8);
}

.mapPopup .leaflet-popup-tip-container {
    display: none;
    position: relative;
}
