.heroHotel {
    position: relative;
}

.heroHotel img {
    position: absolute;
    width: 100%;
    height: 50vh;
    filter: brightness(.9) blur(5px);
    object-fit: cover;
    z-index: -1;
}

.heroBackgroundHotel {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroBackgroundHotel img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.containerHotelInfo {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerHotelInfo strong {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.infosContainer {
    gap: 3rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    line-height: 2rem;
    width: 90%;
    background: #ebeaea;
    border-radius: 8px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.infosContainer p {
    font-size: 1rem;
}

.contatosContainer strong{
    color: #283729;
    font-size: 2rem;
}

.redesIconHotel {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1rem 0px 0px 0px;
}

.face:hover {
    color: blue;
    transition: .5s;
}

.insta:hover {
    color: red;
    transition: .5s;
}

.whats:hover {
    color: green;
    transition: .5s;
}

@media screen and (max-width: 500px) {
    .heroHotel {
        display: none;
    }

    .heroBackgroundHotel img {
        width: 100%;
    }

    .infosContainer {
        grid-template-columns: 1fr;
    }

    .containerHotelInfo strong {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .infosContainer {
        grid-template-columns: 1fr;
    }
}