.cadastrar-imagem form {
    @apply grid gap-2;
}

.cadastrar-imagem form div {
    @apply grid gap-5;
}

.cadastrar-imagem label {
    font-size: 20px;
    font-weight: bold;
    @apply flex items-center gap-2;
}

.cadastrar-imagem label input[type="file"] {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cadastrar-imagem label span {
    font-size: 12px;
    @apply text-red-600
}

.cadastrar-imagem input[type="text"],
.cadastrar-imagem select,
.cadastrar-imagem textarea,
.cadastrar-imagem input[type="password"],
.cadastrar-imagem select,
.cadastrar-imagem textarea {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    transition: 0.3s;
}

.cadastrar-imagem textarea {
    margin-bottom: 0 !important;
}

.cadastrar-imagem input[type="text"]:focus,
.cadastrar-imagem textarea:focus,
.cadastrar-imagem select:focus {
    outline: none;
    border: 1px solid #2666d4;
}

.cadastrar-imagem button {
    font-weight: bold;
    background-color: #45a049;
    color: white;
    padding: 25px 0;
    border-radius: 4px;
    transition: 0.3s;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    height: 22%;
}

.cadastrar-imagem button:hover {
    transition: 500ms ease;
    filter: brightness(0.8);
}