.comment {
  border-bottom: 2px solid black;
  padding: 16px;
}

.add-comment-form {
  margin: 20px 0;
}

.add-comment-form h3 {
  margin-bottom: 16px;
}

.add-comment-form label {
  font-weight: bold;
}

.add-comment-form input, .add-comment-form textarea {
  display: block;
  width: 100%;
  padding: 8px !important;
  border-radius: 4px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  font-weight: normal !important;
  transition: 0.3s;
}

.add-comment-form button {
  background-color: #2666d4;
  margin: 10px 0;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  transition: .3s;
  font-weight: bold;
}

.add-comment-form button:hover {
  background-color: #1a4da5;
}


.add-comment-form input:focus,
.add-comment-form textarea:focus {
  outline: none;
  border: 1px solid #2666d4;
}