.toolbar {
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  mask: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 15%,
    #ffffff 85%,
    rgba(255, 255, 255, 0) 100%
  );
  margin: 0 auto;
}

.toolbar ul {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}

.toolbar ul li {
  display: inline-block;
}

.toolbar ul li button {
  padding: 10px;
  font-size: 15px;
}

.toolbar ul li button:hover {
  background-color: #3e8e41;
  color: #fff;
  border-radius: 3px;
  transition: 0.5s;
}

.toolbar ul li button.selected {
  background-color: #3e8e41;
  color: #fff;
  border-radius: 3px;
  transition: 0.5s;
}

.toolbar .select {
  display: none;
  align-items: center;
}

.toolbar .select select {
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  color: black;
  margin-left: 10px;
}

@media screen and (max-width: 350px) {
  .toolbar {
    mask: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 0%,
      #ffffff 100%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .toolbar ul li {
    display: block;
    font-size: 10px;
  }
}

@media screen and (max-width: 425px) {
  .toolbar ul li {
    display: block;
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .toolbar ul {
    display: none;
  }
  .toolbar .select {
    display: block;
    padding: 5px 0;
  }
}
