.cardHotel {
    width: 100%;
    height: auto;
    background: white;
    max-width: none !important;
    margin: 12px 10px 12px 10px;
    transition: all .9s;
    box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
    position: relative;
    border-radius: 4px;
}

.cardHotel:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
}

.cardHotel .titleHotel {
    margin-left: 1rem;
    align-items: center;
    display: flex;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

hr {
    @apply border-gray-200;
}

.cardHotel .descriptionHotel {
    word-wrap: break-word;
    margin: 8px 0;
    margin-left: 1rem;
    height: 100px;
}

.descriptionHotel a {
    color: #326335;
    font-weight: 700;
    text-decoration: none;
}

.descriptionHotel a:hover{
    filter: brightness(.8);
}

.cardHotel .cardImgHotel {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: auto;
    position: relative;
    border-left: 0;
    border-right: 0;
    box-shadow: none;
    border-top: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: white;
    display: flex;
    justify-content: center;
    height: 200px;
}

.cardHotel .cardImgHotel img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-style: none;
    object-position: 50% 50%;
    transition: .5s;
}

/*.cardHotel .cardImgHotel img:hover {
    transform: scale(1.06, 1.06);
    cursor: pointer;
}*/

.prieceHotel {
    margin-left: 1rem;
    display: flex;
    background: #fff;
    color: black;
    padding: 0px .8rem .8rem 0px;
}

.prieceHotel p{
    margin-left: 2px;
}

.buttonsHotel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: .5rem;
}

.buttonsHotel a {
    padding: .5rem;
}

.buttonsHotel a:first-child {
    display: flex;
    transition: .3s ease;
}

.buttonsHotel a:last-child {
    background: #283729;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    transition: .3s ease;
}

.buttonsHotel a:first-child:hover {
    color: #326335;
}

.buttonsHotel a:last-child:hover {
    background: #326335;
}

@media screen and (max-width: 1024px) {
    .cardHotel .descriptionHotel {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .buttonsHotel a:last-child {
        font-size: 12px;
    }

    .buttonsHotel a:first-child {
        font-size: 14px;
    }

    .prieceHotel strong {
        font-size: 14px;
    }
}