footer {
    bottom: 0;
    width: 100%;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    gap: 2rem;
    background: #fff;
    align-items: center;
    padding: 0px 2rem;
}

h3 {
    font-size: 16px;

    display: inline-block;
    
    transition: .5s ease;
    
    position: relative;
    color: black;
}

h3::after {
    content: '';
    display: block;
    position: absolute;
        
    top: 100%;
    left: 0;
        
    width: 0%;
    height: 2px;
        
    transform: translate(-20%, -50%);

    background-color: red;
}
.containerHero {
    height: 100%;
    width: 100%;
    padding: 2rem 0px 2rem 0px;
}

.containerInfos {
    width: 100%;
    display: flex;
    padding: 0rem 2rem;
    background: #ececec;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(78, 78, 78, 0.75);
}

h3::after {
    width: 20%;
    max-width: 30px;
}
    
.pages, .contacts, .notices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 20px 0px 20px 0px;
}

.contacts strong {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    width: 100%;
    height: 100%;
    color: black;
    line-height: 2rem;
    padding: 20px 0px 20px 0px;
}

.pages a, .notices a {
    width: max-content;
    border-bottom: 1px solid transparent;
    margin-bottom: 20px;
}

.pages a:hover, .notices a:hover {
    border-bottom: 1px solid red;
    transition: ease .8s;
}

.notice {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.notice img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin-right: 1rem;
}

.notice-text {
    display: flex;
    flex-direction: column;
}

.notice-text p {
    color: red;
}

.copyright {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .8rem 0px;
    background: #fff;
    color: black;
    border-top: 1px solid #e0e0e0;
    filter: brightness(.95);
}

.redes {
    display: flex;
    color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.redesIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin: 1rem 0px 0px 0px;
}

.redesIcon a:hover {
    transition: .3s;
}

.redesIcon a:last-child:hover {
    color: red;
}

.redesIcon a:first-child {
    margin: 0px 1.5rem 0px 0px;
}

.redesIcon a:first-child:hover {
    color: #0004ff;
}

@media screen and (max-width: 1300px) {
    .footer {
        display: flex;
    }

    .titleHidden:nth-child(2) {
        display: none;
    }

    .notice {
        display: none;
    }
}

@media screen and (max-width: 1026px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pages, .contacts, .notices {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 20px 0px 20px 0px;
    }

    .contacts img {
        margin-top: 2rem;
    }

    .contacts strong svg{
        display: none;
    }

    .copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .copyright p:last-child {
        display: none;
    }

    .titleHidden {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        padding: 10px;
    }
}

@media screen and (max-width: 300px) {
    footer {
        font-size: 14px;
    }
}