#agenda {
  padding: 2rem 6rem 4rem 6rem;
}

#agenda .option ul {
  display: flex;
  border-radius: 10px;
  padding: 1px;
  margin: 0 5%;
}

#agenda .option ul li {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  @apply border-2;
}

#agenda .option ul li:hover {
  transition: .3s;
  cursor: pointer;
  background-color: #fff;
  @apply border-2 border-green-brasao;
}

@media screen and (max-width: 1024px) {
  #agenda {
      padding: 1rem 2rem;
  }

  #agenda .option ul li {
      font-size: 12px;
  }

  .grid-cols-3 {
      grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 390px) {
  #agenda {
      padding: 1rem 0.5rem;
  }

  #agenda h1 {
      font-size: 2rem;
  }

  .grid-cols-3 {
      grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }

  .gap-5 {
      gap: 0 !important;
  }
}