.turismo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
}

#grid {
  padding: 10px;
  padding-top: 10px;
}

.turismo h1 {
  text-transform: uppercase;
  font-size: 64px;
  margin: 1rem 0 0.2rem 0;
  color: #283729;
  display: inline-block;
  position: relative;
  padding: 1rem;
}

.turismo h1::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  height: 6px;
  transform: translate(8%, 50%);
  background-color: #283729;
  width: 45%;
}

.turismo h2 {
  text-transform: uppercase;
  font-weight: 400;
  color: #326335;
  display: inline-block;
  position: relative;
  padding: 1rem;
}

.turismo .main-options ul {
  max-width: fit-content;
  height: 100%;
  max-height: fit-content;
  margin-top: 12px;
  margin-top: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  vertical-align: top;
}

.turismo .card .card-text {
  padding: 10px;
  position: relative;
}

.turismo .card .card-text p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.turismo .card .card-text label {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
  font-size: 19px;
}

.turismo .card .card-text button {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  bottom: 0;
  position: fixed;
  margin-bottom: 5px;
}

.turismo .card .card-text button:hover {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: #5368b9;
  color: #ffffff;
  transition: 0.3s;
}

@media screen and (max-width: 520px){
  .turismo h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 320px){
  .turismo h1 {
    font-size: 40px;
  }
}

