.turismo {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    
}

.turismo .main-options ul {
    display: flex;
    border-radius: 10px;
    padding: 2px;
}

.turismo .main-options ul li {
    padding-left: 10px;
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: fit-content;
    height: auto;
    margin-top: 12px;
    margin-right: 40px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 1px 5px #b0aaff;
    position: relative;
    vertical-align: top;
}

.turismo .card .card-text {
    padding: 10px;
    position: relative;
}

.turismo .card .card-text label {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
    font-size: 20px;
}



