.navigation {
    width: 100%;
    align-items: center;
    position: relative;
    padding: 0.05rem 0rem;
    background-color: #fff;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.brand-name {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
}

.menu-language-dropdown {
    position: relative;
    display: inline-block;
    padding-left: 20px;
}

.language-dropdown-content {
    display: none;
    position: absolute;
    top: 35%;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-language-dropdown span {
    position: absolute;
    top: 35%;
    padding-left: 30px;
}

.menu-language-dropdown li:hover {
    background-color: rgb(195, 195, 195);
    transition: 0.3s;
}

.menu-language-dropdown:hover .language-dropdown-content {
    display: block;    
}

.navigation-menu {
    margin-left: auto;
}

.navigation-menu ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    border-radius: 5px;
}

.navigation-menu li {
    list-style-type: none;
    margin: 0 0rem;
}

.navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px;
}

.navigation-menu li a:hover {
    color: white;
    background-color: #3e8e41;
    transition: 0.3s;
    border-radius: 3px;
    box-shadow: 0 0 0.2em #6c6c6c;
}

.navigation-menu-ul {
    box-shadow: 0 0 0.5em #283729;
    z-index: 1;
}

.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.hamburger:hover {
    background-color: #3e8e41;
}

@media screen and (max-width: 1024px) {
    .hamburger {
        display: block;
    }

    .navigation-menu ul {
        display: none;
    }


    .navigation-menu ul {
        position: absolute;
        top: 78px;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 77px);
        background-color: white;
        border-top: 1px solid black;
    }

    .navigation-menu li {
        text-align: center;
        margin: 0;
    }

    .navigation-menu li a {
        color: black;
        width: 100%;
        padding: 1.2rem 0;
    }

    .navigation-menu li:hover {
        background-color: #eee;
    }

    .navigation-menu.expanded ul {
        display: block;
    }
}