.turismoHome .swiper {
  width: 100%;
  height: 100%;
}

.turismoHome .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent !important;
  height: 100%;
}

.turismoHome.swiper {
  width: 100%;
}
.turismoHome .append-buttons {
  text-align: center;
}

.turismoHome .append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.turismoHome .titleSobrebor{
  background: rgba(0, 0, 0, 0.6);
}