.sectionLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}

.login .caixatexto {
    resize: unset;
    height: 54px;
    width: 500px;
    margin-top: 1px;
}

.login .caixatexto1 {
    resize: unset;
    height: 350px;
    width: 500px;
    margin-top: 1px;
    margin-left: 1px;
}

.login .pagina .left p {
    font-weight: bold;
    text-align: center;
}

.login .pagina .rigth p {
    font-weight: bold;
    margin-bottom: 0cm;
}

.login .mapa {
    border-radius: 4px;
    height: 300px;
    width: 100%;
}

.login label {
    font-size: 20px;
    font-weight: bold;
}

.login .cartao {
    text-align: center;
    border-radius: 4px;
}

.login .title {
    color: grey;
    font-size: 18px;
}

.login a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.login input[type=text], .login select, .login textarea, 
.login input[type=password], .login select, .login textarea {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    transition: .3s;
    height: 22%;
}

.login textarea {
    margin-bottom: 0 !important;
}

.login input[type=text]:focus,
.login textarea:focus,
.login select:focus {
  outline: none;
  border: 1px solid #2666d4;
}

.login .enviar {
    font-weight: bold;
    background-color: #45a049;
    color: white;
    padding: 12px 0;
    border-radius: 4px;
    transition: .3s;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    height: 22%;
}

.login .enviar:hover {
    transition: 500ms ease;
    filter: brightness(.8);
}

.login .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

@media screen and (max-width: 1024px) {
    .login .text {
        white-space: nowrap;
        font-size: 16px;
    }

    .login .caixatexto {
        height: 54px;
        width: 400px;
    }

    .login .caixatexto1 {
        height: 350px;
        width: 400px;
    }
}


@media screen and (max-width: 768px) {
    .login .pagina {
        grid-template-columns: 1fr;
    }

    .login h1 {
        padding: 10px;
    }

    .login h2 {
        white-space: normal;
    }

    .login .texto {
        font-size: 20px;
    }

    .login .text {
        top: 94%;
    }

}

@media screen and (max-width: 425px) {
    .login h1 {
        padding: 10px;
    }

    .login .dados {
        display: block;
    }

    .login h2 {
        white-space: normal;
    }

    .login .text {
        white-space: nowrap;
        font-size: 15px;
    }
}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 320px) {
    .login {
        display: list-item;
    }

    .login h1 {
        padding: 10px;
    }

    .login .dados {
        display: block;
    }

    .login h2 {
        white-space: normal;
    }

    .login.texto {
        font-size: 20px;
    }

    .login .text {
        white-space: nowrap;
        font-size: 13px;
    }

}