#restaurante .option ul {
    display: flex;
    border-radius: 10px;
    padding: 1px;
}
#restaurante .option ul li {
    width: 100%;
    list-style: none;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    @apply border-2;
}

#restaurante .option ul li:hover {
    transition: .3s;
    cursor: pointer;
    background-color: #fff;
    @apply border-2 border-gray-100;
}

#restaurante .card {
    width: 100%;
    height: auto;
    background: #fafafa;
    margin-bottom: -10px;
    margin-top: 12px;
    cursor: pointer;
    filter: brightness(1);
    transition: all .9s;
    z-index: 0;
    box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
    vertical-align: top;
    position: relative;
}

#restaurante .card .card-text {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom: 0;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 16px;
    position: relative;
}

#restaurante .card .card-text label {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

#restaurante .card .card-text p {
    padding-bottom: 16px;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
}

#restaurante .card .card-text p:last-child {
    padding-bottom: 0;
    margin: 0;
}

#restaurante .card .card-img {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: auto;
    position: relative;
    border-left: 0;
    border-right: 0;
    box-shadow: none;
    border-top: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
}

#restaurante .card .card-img img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-style: none;
    object-position: 50% 50%;
    transition: .5s;
}

#restaurante .card .card-img img:hover {
    transform: scale(1.06, 1.06);
}