#restaurante .option ul {
    display: flex;
    border-radius: 10px;
    padding: 1px;
    margin: 0 5%;
}

#restaurante .option ul li {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    @apply border-2;
}

#restaurante .option ul li:hover {
    transition: .3s;
    cursor: pointer;
    background-color: #fff;
    @apply border-2 border-green-brasao;
}

@media screen and (max-width: 1024px) {
    #restaurante .option ul li {
        font-size: 12px;
    }
}

@media screen and (max-width: 390px) {
    #restaurante h1 {
        font-size: 2rem;
    }
}