#restaurante .option ul {
    display: flex;
    border-radius: 10px;
    padding: 1px;
}

#restaurante .option ul li {
    width: 100%;
    list-style: none;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    @apply border-2;
}

#restaurante .option ul li:hover {
    transition: .3s;
    cursor: pointer;
    background-color: #fff;
    @apply border-2 border-gray-100;
}