.album-display {
    display: grid;
    position: relative;
    top: 10px;
}

.album-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 10px;
}

.album-content img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .album-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .album-content {
        grid-template-columns: repeat(1, 1fr);
    }
}
  