@tailwind base;
@tailwind components;
@tailwind utilities;

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-size: inherit;
  font-weight: inherit;
  -webkit-font-smoothing: antialiased;
}

h1 {
  @apply font-bold text-4xl my-4;
}

h2 {
  @apply font-bold text-3xl my-4;
}

h3 {
  @apply font-bold text-2xl my-4;
}

h4 {
  @apply font-bold text-xl my-4;
}

p {
  margin-bottom: 1rem;
}

body {
  @apply bg-gray-100 text-gray-100;
  color: black;
  -webkit-font-smoothing: antialiased;
}

section {
  padding: 2rem 6rem 4rem 6rem;
}

@media screen and (max-width: 1440px) {
  section {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 1024px) {
  section {
    padding: 1rem 2rem;
  }
  .grid-cols-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 768px) {
  .grid-cols-3 {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }

  .gap-5 {
    gap: 0 !important;
  }
}

@media screen and (max-width: 390px) {
  section {
    padding: 1rem 0.5rem;
  }
}
