.card-agenda {
  @apply border-b-2 pb-5;
}

.card-agenda .card-agenda-container {
  @apply flex mr-auto gap-10 max-h-56;
}

.card-agenda .card-agenda-container div:first-child {
  max-width: 200px;
}

.card-agenda .card-agenda-container img {
  object-fit: cover;
  @apply h-auto w-full;
}

.card-agenda .card-agenda-container h1 {
  @apply mb-0 text-green-900;
}

.card-agenda .card-agenda-container p:nth-child(2) {
  @apply flex items-center gap-1 text-gray-500;
}

.card-agenda .card-agenda-container p:last-child {
  @apply m-0;
}

@media screen and (max-width: 768px) {
  .card-agenda .card-agenda-container {
    max-height: none;
    @apply grid gap-0 mt-2 justify-center;
  }
  .card-agenda .card-agenda-container img {
    @apply h-auto w-full;
  }
  .card-agenda .card-agenda-container div:first-child {
    max-width: 100%;
  }
}
