.cardAgenda {
  width: 100%;
  height: auto;
  background: white;
  margin: 12px 10px 12px 10px;
  transition: all .9s;
  box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
  position: relative;
  border-radius: 4px;
}

.cardAgenda:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
}

.cardAgenda .titleAgenda {
  margin-left: 1rem;
  align-items: center;
  display: flex;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
}

hr {
  @apply border-gray-200;
}

.cardAgenda .descriptionAgenda {
  word-wrap: break-word;
  margin: 8px 0;
  margin-left: 1rem;
  height: 100px;
}

.descriptionAgenda a {
  color: #326335;
  font-weight: 700;
  text-decoration: none;
}

.descriptionAgenda a:hover{
  filter: brightness(.8);
}

.cardAgenda .cardImgAgenda {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: auto;
  position: relative;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  border-top: 0;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: white;
  display: flex;
  justify-content: center;
  height: 200px;
}

.cardAgenda .cardImgAgenda img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-style: none;
  object-position: 50% 50%;
  transition: .5s;
}

footer {
  box-shadow: none !important;
}

footer p {
  margin-bottom: 0 !important;
}


@media screen and (max-width: 1024px) {
  .cardAgenda .descriptionAgenda {
      font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .buttonsHotel a:last-child {
      font-size: 12px;
  }

  .buttonsHotel a:first-child {
      font-size: 14px;
  }

  .prieceHotel strong {
      font-size: 14px;
  }
}